PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 200
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AccessModifierOffset: -4
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
AllowShortFunctionsOnASingleLine: None

