*.o
*~
*.a
*.la
*.so
Makefile
config.h
config.log
config.status
stamp-h1
*/**/.deps/
argosmt
argosmt_dimacs
/primeri/
autom4te.cache/
TODO
Makefile.in
aclocal.m4
configure
src/**/Makefile.in
**/.dirstamp

